{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * custom-fields plugin for Craft CMS
 *
 * Header Field Settings
 *
 * @author    Ronald van Eede
 * @copyright Copyright (c) 2018 Ronald van Eede
 * @link      http://ronaldvaneede.me
 * @package   Customfields
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("demindo\\customfields\\assetbundles\\customfields\\CustomfieldsAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
