{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * custom-fields plugin for Craft CMS 3.x
 *
 * RowStyle Field Input
 *
 * @author    Ronald van Eede
 * @copyright Copyright (c) 2018 Ronald van Eede
 * @link      http://ronaldvaneede.me
 * @package   Customfields
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}}
